<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>372954419277-fsmg127a5uh7f2lh2oni52r7f4cqqi4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372954419277-fsmg127a5uh7f2lh2oni52r7f4cqqi4i</string>
	<key>API_KEY</key>
	<string>AIzaSyDlUYC431wrNqmdFDnyC7a8q8uJn_2343g</string>
	<key>GCM_SENDER_ID</key>
	<string>372954419277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elliot.party-song</string>
	<key>PROJECT_ID</key>
	<string>party-song-48d35</string>
	<key>STORAGE_BUCKET</key>
	<string>party-song-48d35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372954419277:ios:b8827cae379a6427</string>
	<key>DATABASE_URL</key>
	<string>https://party-song-48d35.firebaseio.com</string>
</dict>
</plist>